

  
  <div id="preface-top">
    <div class="container_112">
      <!-- Slider -->
<div id="mySlider" class="royalSlider default">
  <div class="royalLoadingScreen"><p class="spinner">Loading slider...</p></div>
  <ul class="royalSlidesContainer">
    <% @slides.each do |slide| %>
	  <li class="royalSlide">
	    <%= link_to image_tag(slide.slide(:max)), '#' %>
      </li>
    <% end %>
  </ul>		
</div>
<!-- ENDS Slider -->   
    </div>
  </div>

  <section id="preface-bottom">
    <div class="container_12">
      <h2 class="title big">
	    <%= content_tag(:b, 'Dj') + ' Paul Sutcliffe' %>
	  </h2>
    </div>
  </section>

  <section id="music">
    <div class="container_12">
      <h2 class="title">Music</h2>
      <ul>
      <% @scwidgets.each do |scwidget| %>
        <li>
	      <iframe width="100%" height="166" scrolling="no" frameborder="no" src="<%= scwidget.reference %>"></iframe>    
        </li>
	  <% end %>
	  </ul>
    </div>
  </section>
  
  <section id="gigs">
    <div class="container_12">
      <h2 class="title">Gigs</h2>
      <ol>
	    <% @gigs.each do |gig| %>
	    <li>
          <div class="date">
            <%= gig.date.try(:strftime, "%b") %>
            <span>
             <%= gig.date.try(:strftime, "%d") %>
            </span>
          </div>
          <h3 class="location">
            <%= gig.name %>
            <span>
              <%= gig.place %>
            </span>
          </h3>
        </li>
        <% end %>
      </ol>
    </div>
  </section>
  

</div>
