<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gig.name %>
</p>

<p>
  <b>Place:</b>
  <%= @gig.place %>
</p>

<p>
  <b>Link:</b>
  <%= @gig.link %>
</p>

<p>
  <b>Date:</b>
  <%= @gig.date %>
</p>


<%= link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>
