<!DOCTYPE html>
<html>
<head>
  <title>Dj Paul Sutcliffe | Sweet Pacha Asia, Joia Asia, Bizarro Miraflores</title>

  <meta name="description" content="Paul Sutcliffe with more than 8 years making the crowd dance." />
  <meta name="keywords" content="dj bizarro, dj sweet pacha, djs de asia" />
  <meta name="robot" content="index,follow" />
  <meta name="copyright" content="Copyright &copy; <%= Time.now.year %> Paul Sutcliffe." />
  <meta name="author" content="Kosmyka.com" />
  <meta name="language" content="English" />
  <meta name="revisit-after" content="1" />
  <meta name="googlebot" content="index,follow" />
  <meta name="city" content="Lima" />
  <meta name="country" content="Peru" />
  <meta name="state" content="Lima" />
  <meta name="zip code" content="Lima 18" />
  <meta name="subject" content="Electronic Music" />
  <meta name="geo.position" content="-9;-75" />
  <meta name="geo.country" content="PE" />
  <meta name="geo.region" content="PE-LIM" />
  <meta name="geo.placename" content="Miraflores" />

  <%= auto_discovery_link_tag(:rss, "http://www.djpaulsutcliffe.com/gigs/feed.rss", {:title => "Dj Paul Sutcliffe Gigs"}) %>

  <%= stylesheet_link_tag '/javascripts/libs/adapt/adapt.css', '/javascripts/libs/royal-slider/royalslider-skins/default/default.css', '/javascripts/libs/royal-slider/royalslider.css',  'style.css', :cache => 'powerhouse' %>

  <%= javascript_include_tag :defaults %>

  <%= javascript_include_tag '/javascripts/libs/royal-slider/royal-slider-8.1.min.js', '/javascripts/libs/royal-slider/jquery.easing.1.3.min.js', '/javascripts/libs/adapt/adapt-init.js', '/javascripts/libs/adapt/adapt.min.js', 'scripts.js', :cache => 'powerfactory' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <header>
    <div class="container_12">
      <h1 class="title">
	    <%= link_to content_tag(:b, 'Dj') + ' Paul Sutcliffe', root_path %>
	  </h1>
      <%= render 'shared/social_links' %>
    </div>
  </header>
  
  <section id="introduction">
    <div class="container_12">
      <div class="grid_4 alpha">
        <p>
          Peruvian dj Paul Sutcliffe, with his sensational talent and his impressive debut EP "Don't Like". Bursting with solid deep-house, techno, tech-house groove, the way for what is set to be a huge party.
        </p>
        <p>
          After several years on the mainstream field, dance floor monster dj Paul Sutcliffe! have a killer groovin syle, resident of Sweet Pacha(Asia, Lima), Joia(Asia, Lima), Bizarro(Miraflores, Lima) and playing on important events all over Peru.  
        </p>
        <p>
	        <%= mail_to 'bookings@djpaulsutcliffe.com' %>
	    </p>
      </div>
      <div>
        <%= render 'shared/social_links' %>
      </div>
    </div>
  </section>

<%= yield %>

</body>
</html>
<%= render :partial => 'shared/google_analytics' %>
