<!DOCTYPE html>
<html>
<head>
  <title>dj Paulsutcliffe</title>

  <meta name="description" content="Paul Sutcliffe with more than 8 years making the crowd dance." />
  <meta name="keywords" content="dj bizarro, dj sweet pacha, djs de asia" />
  <meta name="robot" content="index,follow" />
  <meta name="copyright" content="Copyright &copy; <%= Time.now.year %> Paul Sutcliffe." />
  <meta name="author" content="Kosmyka.com" />
  <meta name="language" content="English" />
  <meta name="revisit-after" content="1" />
  <meta name="googlebot" content="index,follow" />
  <meta name="city" content="Lima" />
  <meta name="country" content="Peru" />
  <meta name="state" content="Lima" />
  <meta name="zip code" content="Lima 18" />
  <meta name="subject" content="Electronic Music" />
  <meta name="geo.position" content="-9;-75" />
  <meta name="geo.country" content="PE" />
  <meta name="geo.region" content="PE-LIM" />
  <meta name="geo.placename" content="Miraflores" />

  <%= stylesheet_link_tag '/javascripts/libs/adapt/adapt.css', '/javascripts/libs/accordion/themes/base/jquery.ui.all.css', '/javascripts/libs/SmoothDivScroll/css/smoothDivScroll.css',  'style.css', :cache => 'powerhouse' %>

  <%= javascript_include_tag :defaults %>

  <%= javascript_include_tag '/javascripts/libs/fancybox/lib/jquery.mousewheel-3.0.6.pack.js', '/javascripts/libs/fancybox/jquery.fancybox.js', '/javascripts/libs/fancybox/helpers/jquery.fancybox-buttons.js?v=2.0.4', '/javascripts/libs/fancybox/helpers/jquery.fancybox-thumbs.js?v=2.0.4', '/javascripts/libs/SmoothDivScroll/js/jquery.smoothDivScroll-1.1.js', '/javascripts/libs/adapt/adapt-init.js', '/javascripts/libs/adapt/adapt.min.js', 'scripts.js', :cache => 'powerfactory' %>
  <%= csrf_meta_tag %>
</head>
<body>

  <header>
    <div class="container_12">
      <h1 class="title">
	    <%= link_to content_tag(:b, 'Dj') + ' Paul Sutcliffe', root_path %>
	  </h1>
      <%= render 'shared/social_links' %>
    </div>
  </header>
  
  <section id="introduction">
    <div class="container_12">
      <div class="grid_4 alpha">
        <h2 class="title">Dj Paul Sutcliffe</h3>
        <p>
          dj paul sutcliffe, con más de 8 años de trayectoria, se mueve como un pez en el agua en los diversos géneros que toca.
        </p>
        <p>
			su contagiante música suena en exclusivos eventos y discotecas de todo Lima, 
            logrando que cada noche sea siempre diferente a la anterior. con el oído musical, 
            criterio e incomparable talento de DJ Sutcliffe. Dicha combinación asegurará que 
            comience el reventón en cualquier fiesta y creará un auténtico clímax en la pista de baile, 
            manteniendo la energía de la gente en lo más alto…
        </p>
      </div>
      <div>
        <%= render 'shared/social_links' %>
      </div>
    </div>
  </section>

<%= yield %>

</body>
</html>
<%#= render :partial => 'shared/google_analytics' %>
